head
    title Airport
    meta(charset='utf-8')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
body
    .events
        .event Departure
        .event Arrival
    .schedule
        