head
    title Airport
    meta(charset='utf-8')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(href="styles/main.css" rel="stylesheet")
    link(href="assets/favicon.ico" rel="icon")
body
    .events
        .event Departure
        .event Arrival
    .schedule 
    img(class='loading' src='assets/loading.gif')
        