html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto

}

.events {
    display: flex;
    flex-direction: row;
}

.event {
    flex-basis: 50%;
    font-size: 100px;
    display: flex;
    justify-content: center;
}